*{
    margin:0;
    padding:0;
    box-sizing:border-box;
    font-family:Arial, sans-serif;
}

body{
    background:linear-gradient(135deg,#667eea,#764ba2);
    min-height:100vh;
    display:flex;
    justify-content:center;
    align-items:center;
}

.container{
    width:700px;
    background:white;
    padding:25px;
    border-radius:15px;
    box-shadow:0 5px 15px rgba(0,0,0,0.2);
}

h1{
    text-align:center;
    margin-bottom:20px;
}

.input-box{
    display:flex;
    gap:10px;
}

input{
    flex:1;
    padding:12px;
    font-size:16px;
    border:2px solid #ccc;
    border-radius:8px;
}

button{
    padding:12px 18px;
    background:#28a745;
    color:white;
    border:none;
    border-radius:8px;
    cursor:pointer;
}

.section{
    margin-top:25px;
}

ul{
    list-style:none;
}

li{
    background:#f4f4f4;
    margin:10px 0;
    padding:15px;
    border-radius:10px;
}

.time{
    color:gray;
    font-size:12px;
    margin:8px 0;
}

.complete{
    background:#007bff;
}

.edit{
    background:#ffc107;
    color:black;
}

.delete{
    background:#dc3545;
}